<p id="notice"><%= notice %></p>

<h1>Userpositions</h1>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Userid</th>
      <th>X</th>
      <th>Y</th>
      <th>Z</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @userpositions.each do |userposition| %>
      <tr>
        <td><%= userposition.id %></td>
        <td><%= userposition.userid %></td>
        <td><%= userposition.x %></td>
        <td><%= userposition.y %></td>
        <td><%= userposition.z %></td>
        <td><%= link_to 'Show', userposition %></td>
        <td><%= link_to 'Edit', edit_userposition_path(userposition) %></td>
        <td><%= link_to 'Destroy', userposition, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Userposition', new_userposition_path %>
