<p id="notice"><%= notice %></p>

<p>
  <strong>id:</strong>
  <%= @user.id %>
</p>

<p>
  <strong>agreeCookie:</strong>
  <%= @user.agreeCookie %>
</p>

<p>
  <strong>isExist:</strong>
  <%= @user.isExist %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
