<p id="notice"><%= notice %></p>

<p>
  <strong>Impression:</strong>
  <%= @souvenir.impression %>
</p>

<p>
  <strong>Works 1:</strong>
  <%= @souvenir.works_1 %>
</p>

<p>
  <strong>Works 2:</strong>
  <%= @souvenir.works_2 %>
</p>

<p>
  <strong>Works 3:</strong>
  <%= @souvenir.works_3 %>
</p>

<p>
  <strong>Iris 11:</strong>
  <%= @souvenir.iris_11 %>
</p>

<p>
  <strong>Iris 12:</strong>
  <%= @souvenir.iris_12 %>
</p>

<p>
  <strong>Iris 13:</strong>
  <%= @souvenir.iris_13 %>
</p>

<p>
  <strong>Iris 14:</strong>
  <%= @souvenir.iris_14 %>
</p>

<p>
  <strong>Iris 21:</strong>
  <%= @souvenir.iris_21 %>
</p>

<p>
  <strong>Iris 22:</strong>
  <%= @souvenir.iris_22 %>
</p>

<p>
  <strong>Iris 23:</strong>
  <%= @souvenir.iris_23 %>
</p>

<p>
  <strong>Iris 24:</strong>
  <%= @souvenir.iris_24 %>
</p>

<p>
  <strong>Iris 31:</strong>
  <%= @souvenir.iris_31 %>
</p>

<p>
  <strong>Iris 32:</strong>
  <%= @souvenir.iris_32 %>
</p>

<p>
  <strong>Iris 33:</strong>
  <%= @souvenir.iris_33 %>
</p>

<p>
  <strong>Iris 34:</strong>
  <%= @souvenir.iris_34 %>
</p>

<%= link_to 'Edit', edit_souvenir_path(@souvenir) %> |
<%= link_to 'Back', souvenirs_path %>
