<!DOCTYPE html>
<html>
  <head>
    <title>iiiEx Extra 2020</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_packs_with_chunks_tag 'application' %>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css" />
    <%= render 'ga' %>
  </head>

  <body>
    <%= yield %>
    <%= render 'cookieconsent' %>
  </body>
</html>
