<!DOCTYPE html>
<html>
  <head>
    <title>iiiEx Extra 2020</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- トラッキングコードはapplication.jsの中にあるコードも含めて3箇所忘れずに更新する -->
    <% if Rails.env.production? %>
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-170084949-1'"></script>
      <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());
          gtag('config', 'UA-170084949-1');
      </script>
    <% end %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_packs_with_chunks_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
